body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: rgb(42, 1, 1);
    padding: 20px;
}

form{
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: aqua;
    border: 1px solid aquamarine;
    border-radius: 8px;

    display: flex;
    flex-direction: column;
    gap: 15px;
}

.form-row {
    display: flex;
    align-items: center;

}

.form-row label{
    width: 120px;
    margin-right: 10px;
    font-weight: bold;

}

.form-row input[type="text"],
.form-row input[type="email"],
.form-row select,
.form-row textarea{
    flex-grow: 1;

    padding: 12px;
    box-sizing: border-box;
    border: 2px solid rgb(20, 12, 180);
    border-radius: 5px;
}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 100px;
    object-fit: cover;
}

.checkbox-row {
    display: flex;
    align-items: center;
}

.checkbox-row label{
    margin-left: 10px;
}

.button-row {
    text-align: right;
}

button[type="submit"]{
    background-color: blueviolet;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button[type="submit"]:hover{
    background-color: crimson;
}
